<template name="header">
    <nav>
        <div class="nav-wrapper">
            <a href="{{pathFor 'home'}}" class="brand-logo">Chats von gestern Nacht</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{pathFor 'home'}}">Home</a></li>
                <li><a href="{{pathFor 'insertChatForm'}}">Einsenden</a></li>
                <li><a href="{{pathFor 'moderator'}}">Moderieren</a></li>
                <li><a href="{{pathFor 'publisher'}}">Veröffentlichen</a></li>
            </ul>
        </div>
    </nav>
</template>


